@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500&display=swap");

.btn {
  padding: 12px 24px 14px;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 200px;
  transition: all 0.3s ease-in-out;
}

.btn-green-dark {
  background: theme("colors.green");
  color: theme("colors.grey");
  border: 1px solid theme("colors.green");
}
.btn-green-dark:hover,
.btn-green-light:hover {
  background: theme("colors.grey");
  color: theme("colors.green");
  border: 1px solid theme("colors.green");
}

.btn-green-light {
  border: 1px solid theme("colors.green");
}

.btn-wight {
  color: theme("colors.grey");
  border: 1px solid theme("colors.grey");
}

.btn-wight-full {
  background: theme("colors.grey");
  color: theme("colors.green");
  border: 1px solid theme("colors.grey");
}
.btn-wight:hover,
.btn-wight-full:hover {
  color: theme("colors.green");
  background: theme("colors.beige");
  border: 1px solid theme("colors.green");
}

.gradient {
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}
